.hScreen {
    /* display: flex;
    position: relative;
    height: 100vh;
    justify-content: center;
    align-items: center; */
    margin-bottom: 128px;
}

.subTitle {
    position: absolute;
    left: 24px;
    top: 64px;
    color: #a7a7a7;
    font-size: 0.75rem;
    white-space: nowrap;
}

.title {
    margin-bottom: 32px;
}

.contentWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.dtContainer .imgDT {
    flex-shrink: 0;
    margin-left: 64px;
    flex-basis: 40%;
}

.imgDT img {
    width: 100%;
}


.profContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;
}
.imgProf{
    /* flex-shrink: 0; */
    max-width: 180px;
}
.imgProf img {
    width: 100%;
}

.prof p {
    margin-top: 12px;
}

/* 모바일 css------------------------------- */
.m_dtContainer {
    flex-direction: column-reverse;
    align-items: center;
}
.m_dtContainer .imgDT{
    width: 60%;
    margin-bottom: 32px;
}
.m_dtContainer .title{
    /* background-color: red; */
    word-break: break-all;
}