.aboutWrap article {
    padding: 36px 0;
    /* margin-bottom: 72px; */
}
.aboutWrap article:not(:last-child){
    border-bottom: 1px solid black;
}
.aboutWrap article:not(:last-child) div:last-child p:not(:last-child) {
    margin-bottom: 12px;
}

.aboutWrap article>div:first-child {
    flex: 1;
    margin-bottom: 24px;
}

.aboutWrap .title p {
    font-size: 1.75rem;
    font-weight: 500;
    word-break: break-all;
    padding-left: 12px;
    border-left: 6px solid;
    border-image: linear-gradient(to bottom, var(--mainColor), var(--subColor)) 1;
}

.aboutWrap article>div:last-child {
    flex: 1.5;
}

.prof {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}


.prof>div p:first-child {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 8px;
}

.prof>div p:last-child {
    font-size: 0.75rem;
    line-height: 150%;
}

.imgProf {
    margin-bottom: 8px;
}

.imgProf img {
    width: 100%;
    height: auto;
}

@media all and (max-width:1280px) {
    .prof {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
    }
}