  /* .confetti {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    z-index: 1;
    overflow: hidden;
  } */
  
  .confettiPiece {
    position: absolute;
    width: 8px;
    height: 16px;
    background: #ffd300; /* yellow */
    top: 0;
    opacity: 0;
  }
  
  .confettiPiece:nth-child(1) {
    left: 7%;
    transform: rotate(-45deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 123ms;
    animation-duration: 824ms;
  }
  
  .confettiPiece:nth-child(2) {
    left: 14%;
    transform: rotate(60deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 285ms;
    animation-duration: 756ms;
  }
  
  .confettiPiece:nth-child(3) {
    left: 21%;
    transform: rotate(30deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 412ms;
    animation-duration: 916ms;
  }
  
  .confettiPiece:nth-child(4) {
    left: 28%;
    transform: rotate(70deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 59ms;
    animation-duration: 926ms;
    width: 5px;
    height: 12px;
    animation-duration: 2000ms;
  }
  
  .confettiPiece:nth-child(5) {
    left: 35%;
    transform: rotate(40deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 185ms;
    animation-duration: 1002ms;
  }
  
  .confettiPiece:nth-child(6) {
    left: 42%;
    transform: rotate(10deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 378ms;
    animation-duration: 753ms;
  }
  
  .confettiPiece:nth-child(7) {
    left: 49%;
    transform: rotate(-50deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 92ms;
    animation-duration: 781ms;
  }
  
  .confettiPiece:nth-child(8) {
    left: 56%;
    transform: rotate(-70deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 374ms;
    animation-duration: 864ms;
    width: 5px;
    height: 12px;
    animation-duration: 2000ms;
  }
  
  .confettiPiece:nth-child(9) {
    left: 63%;
    transform: rotate(-20deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 423ms;
    animation-duration: 1076ms;
  }
  
  .confettiPiece:nth-child(10) {
    left: 70%;
    transform: rotate(35deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 282ms;
    animation-duration: 895ms;
  }
  
  .confettiPiece:nth-child(11) {
    left: 77%;
    transform: rotate(10deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 196ms;
    animation-duration: 940ms;
  }
  
  .confettiPiece:nth-child(12) {
    left: 84%;
    transform: rotate(-65deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 112ms;
    animation-duration: 819ms;
  }
  
  .confettiPiece:nth-child(13) {
    left: 91%;
    transform: rotate(45deg);
    animation: makeItRain 1000ms infinite ease-out;
    animation-delay: 305ms;
    animation-duration: 774ms;
  }
  
  /* 색상 변경 */
  .confettiPiece:nth-child(odd) {
    background: #17d3ff; /* blue */
  }
  
  .confettiPiece:nth-child(even) {
    z-index: 1;
  }
  
  .confettiPiece:nth-child(4n-7) {
    background: #ff4e91; /* pink */
  }
  
  .confettiPiece:nth-child(3n) {
    width: 3px;
    height: 10px;
    animation-duration: 2500ms;
    animation-delay: 1000ms;
  }
  
  @keyframes makeItRain {
    from {
      opacity: 0;
    }
    
    50% {
      opacity: 1;
    }
    
    to {
      transform: translateY(200px);
    }
  }
  