.linkContainer{
    display: flex;
    flex-direction: column;

}
.linkModule{
    font-size: 2rem;
    padding: 64px 32px;
    text-align: right;
}
.horizontalLine{
    height: 1px;
    background-color: #dbdbdb;
    border: none;
}
.line{
    border: 1px solid #dbdbdb;
}