.linkContainer {
  display: flex;
  flex-direction: column;
}
.linkModule {
  font-size: 2rem;
  padding: 64px 32px;
  text-align: right;
  /* transition: all 0.6s ease; */
  position: relative;
  transition: all 2s ease;
  /* overflow: hidden; */
}
.linkModule:hover {
  text-align: left;
  color: red;
  /* transform: translateX(-10px); */
  
}
.linkModule:hover::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 120px;
  height: 50px;
  background: url("../components/img/arrow.png") no-repeat center center; /* 화살표 이미지 경로 */
  background-size: contain;
  transition: all 0.6s ease;
}

/* .linkContainer:hover .horizontalLine {
  background-color: red !important;
} */

.horizontalLine {
  height: 1px;
  background-color: #dbdbdb;
  border: none;
}
.line {
  border: 1px solid #dbdbdb;
}