
.linkModule, .t_linkModule {
  text-align: right;
  font-size: 2rem;
  font-weight: 700;
  padding: 64px 24px;
  position: relative;
  transition: all 0.5s ease;
}


.linkModule:hover{
  text-align: left;
color: var(--mainColor);
}
.linkModule::before, .t_linkModule::before{
  content: "";
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
  width: 120px;
  height: 50px;
  opacity: 0;
  background: url('/public/img/icon/arrowR.svg') no-repeat center center; /*화살표 이미지 경로 */
  background-size: contain;
  /* transition: all 0.5s ease; */
}
.linkModule:hover::before {
  opacity: 1;
  
}

/* .linkContainer:hover .horizontalLine {
  background-color: red !important;
} */

.horizontalLine {
  height: 1px;
  background-color: #dbdbdb;
  border: none;
}

.line {
  border: 1px solid #dbdbdb;
}
/* 모바일 css----------------------------------------- */
.t_linkModule{
  text-align: left;
}
.t_linkModule::before{
  opacity: 1;
}