.footer {
    background-color: var(--bg);
    color: var(--black);
    padding: 20px var(--padding);
    border-top: 1px solid var(--black);
}

.footerWrap,
.grad,
.site,
.m_grad,
.m_site {
    justify-content: space-between;
}



.exhibition {
    margin-bottom: 48px;
}



.exhibition p:first-child {
    /* font-size: 1.25rem; */
}

.copyright {
    font-size: 0.75rem;
    gap: 4px;
    color: #a7a7a7;
}

.copyright p:first-child {
    margin-bottom: 8px;
}

.site .linkSite:first-child {
    flex-direction: row-reverse;
}

.imgLink {
    display: inline;
    width: 32px;
    height: 32px;
}

.site .imgLink {
    margin-left: 12px;

}



.imgLink img, .linkSite img {
    width: 100%;
}



.site .pnuLogo {
    width: 150px;
}

/* 모바일 css---------------------------------------------- */
.m_grad p {
    font-size: 0.75rem;
}

.m_grad .exhibition {
    margin-bottom: 24px;
}

.m_site {
    margin-top: 24px;
}

.m_site .imgLink {
    width: 24px;
    margin-right: 12px;
}

.m_site .linkSite:last-child {
    width: 100px;
}