.footer {
    background-color: black;
    color: white;
    padding: 20px var(--margin);
}

.footerContainer,
.gradContainer,
.imgContainer,
.m_gradContainer,
.m_imgContainer {
    justify-content: space-between;
}


.topContainer,
.bottomContainer {
    justify-content: space-between;

}

.topContainer span,
.bottomContainer span {
    color: white;
}

.topContainer>div:last-child {
    /* width: 3%; */
}

.exhibitionContainer {
    margin-bottom: 48px;
}



.exhibitionContainer p:first-child {
    /* font-size: 1.25rem; */
}

.graduationContainer {
    font-size: 0.75rem;
    gap: 4px;
    color: #a7a7a7;
}

.graduationContainer p:first-child {
    margin-bottom: 8px;
}

.imgContainer .linkContainer:first-child {
    flex-direction: row-reverse;
}

.imgLink {
    display: inline;
    width: 32px;
    height: 32px;
}

.imgContainer .imgLink {
    margin-left: 12px;

}



.imgLink img {
    width: 100%;
}



.imgContainer .pnuLogo {
    width: 150px;
}

/* 모바일 css---------------------------------------------- */
.m_gradContainer p {
    font-size: 0.75rem;
}

.m_gradContainer .exhibitionContainer {
    margin-bottom: 24px;
}

.m_imgContainer {
    margin-top: 24px;
}

.m_imgContainer .imgLink {
    width: 24px;
    margin-right: 12px;
}

.m_imgContainer .linkContainer:last-child {
    width: 100px;
}