select,
input {
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    width: 100%;
    border: none;
    outline: none;
}

select {
    background: url('/public/img/icon/ic_selectArrow.svg') no-repeat right;
    background-position: calc(100% - 12px) center;
    cursor: pointer;
}

select::-ms-expand,
input::-ms-expand {
    display: none;
}

option {
    box-shadow: none;
}

.textarea {
    width: 100%;
    font-size: 1.25rem;
    resize: none;
    border: none;
    outline: none;
    background-color: transparent;
}


.txtDeco {
    font-size: 2rem;
    font-weight: 500;
    padding-left: 24px;
    margin-bottom: 64px;
    border-left: 6px solid;
    border-image: linear-gradient(to bottom, var(--mainColor), var(--subColor)) 1;
}

.txtDeco p:not(:last-child) {
    margin-bottom: 12px;
}


.sent {
    margin-bottom: 92px;
}

.write {
    gap: 24px;
    align-items: stretch;
}

.write .left {
    flex: 1;
    height: 100%;
}

.write .right {
    flex: 2;
}

.write label {
    flex: 1;
    font-size: 1.25rem;
    font-weight: 500;
}

.write select,
.write input {
    flex: 2;
    font-size: 1.125rem;
}

.write .left>div {
    padding: 16px 12px;
    border-top: 1px solid black;
}

.write .left>div:last-child {
    border-bottom: 1px solid black;
}

.write .right {
    padding: 16px 12px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.sent button {
    border: 1px solid black;
    background-color: var(--bg);
    padding: 12px 32px;
    font-size: 1.125rem;
}

.sent .btnSent {
    display: flex;
    width: 100%;
    justify-content: end;
    margin-top: 12px;
}

.message {
    gap: 24px;
}

.message>div:first-child {
    flex: 1;
}

.message>div:last-child {
    flex: 3;
}

.message .optionList option {
    padding: 12px 12px;
    font-size: 1.125rem;
    font-weight: 500;
    border-top: 1px solid black;
    cursor: pointer;
}

.message .optionList option:last-child {
    border-bottom: 1px solid black;

}

.messageList {
    gap: 12px;
}

.myMasonryGrid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -12px;
}

.myMasonryGridColumn {
    padding-left: 12px;
}

.messageBox {
    background: #EBEBEB;
    padding: 20px;
    margin-bottom: 12px;
}

.messageBox p:last-child,
.messageBox span {
    font-weight: 500;
}

.messageBox p:nth-child(2) {
    min-height: 30px;
    margin: 16px 0 24px;
}

/* 모바일 css--------------------------- */
.m_guestBook .txtDeco{
    font-weight: 1.25rem;
}
.m_optionList{
    border: 1px solid black;
    padding: 8px 12px;
    width:40%;
}