input, select, textarea {
    border: 1px solid #000000;
    /* border-radius: 0; */
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
}
option{
    box-shadow: none;
}
 
.messageWrap {
    margin-bottom: 92px;
    gap: 64px;
}

.sent {
    flex: 1;
}
.write {
    flex: 2;
}

.personalInfo {
    justify-content: center;
    align-items: left;
    
}
.personalInfo:first-child{
    margin-bottom: 24px;
}
.personalInfo label {
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 12px;
}

.personalInfo input, .personalInfo select {
    font-size: 1.25rem;
    padding: 8px 12px;
}



.textarea {
    width: 100%;
    font-size: 1.25rem;
    /* padding: 10px; */
    padding-block: 0;
    padding-inline: 0;
    resize: none;
}


.btnSent {
    display: flex;
    width: 100%;
}


.btnSent > button {
    background-color: var(--black);
    color: white;
    margin-top: 12px;
    margin-left: auto;
    padding: 12px 32px;
    font-size: 1.25rem;
    cursor: pointer;
}

.optionList{
    display: flex;
    margin-bottom: 24px;
}
.optionList select{
    font-size: 1.25rem;
    padding: 4px 12px;
}

.messageList {
    gap: 12px;
}

.messageBox {
    background: #f5f5f5;
    padding: 20px;
    margin-bottom: 12px;
}

.messageBox p:last-child,
.messageBox span {
    font-weight: 700;
}

.messageBox p:nth-child(2) {
    min-height: 64px;
    margin: 16px 0 32px;
}

.myMasonryGrid {
    display: -webkit-box;
    /* For old Safari browsers */
    display: -ms-flexbox;
    /* For IE10 */
    display: flex;
    margin-left: -12px;
    /* gutter size offset */
    /* width: auto; */
}

.myMasonryGridColumn {
    padding-left: 12px;
    /* gutter size */
    /* background-clip: padding-box; */
}

/* 모바일 css--------------------------------------------- */
/* .m_sent{
    margin-bottom: 32px;
} */