.listWrap{
    /* display: flex; */
    box-sizing: border-box;
}
.memberList{    
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
    height: 100%;
}
.memberList>article{
    width: 32%;
}



.memberCard {
    position: relative;
    display: flex;
    margin-bottom: 5%;
}
.imgPj{
    width: 100%;
}

.memberInfo {
    position: absolute;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0 10%;
    color: white;
    opacity: 0;
}



.memberCard:hover .memberInfo {
    opacity: 1;
}

.memberCard:hover .imgPj {
    filter: brightness(0.4);
}

.memberInfo h2 {
    font-size: 2vw;
    margin-bottom: 12px;
}

.memberInfo p {
    font-size: 1.2vw;
}