.pfContainer .content:first-child {
  margin: 32px 0 64px 0;
}

.pfContainer .content:nth-child(2) {
  margin-bottom: 92px;
}

.profile {
  margin-bottom: 128px;
  align-items: center;
}

.profileImg,
.signImg {
  /* background-color: #a7a7a7; */
}

.profileImg {
  flex-shrink: 0;
  flex-basis: 30%;
  margin-right: 64px;
}

.profileImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.signImg {
  width: 20%;
}

.txtWrap {
  align-self: self-start;
  /* align-items: center; */
  padding: 24px 0;
}


.nameWrap {
  justify-content: space-between;
  margin-bottom: 32px;
}

.name>div {
  align-items: center;
}

.name>div {
  margin-top: 8px;
  gap: 16px;
}

.name>div span:first-child {
  font-size: 2.5rem;
  font-weight: 500;
}

.name>div span:nth-child(2) {
  font-size: 1.25rem;
  color: #a7a7a7;

}

.signiture {
  flex: 1;
}

.sns {
  margin-bottom: 92px;

}

.txtWrap .sns>div {
  margin-right: 64px;
}

.sns div span {
  display: inline-block;
  /* font-weight: 500; */

}

.sns div:first-child span:last-child {
  text-decoration: underline;
  text-underline-position: under;
}

.sns>div {
  display: flex;
  gap: 8px;

}

.sns>div>span:first-child {
  color: #a7a7a7;
  font-weight: 300;
}

.MoveLinkWrap {
  justify-content: space-between;
  gap: 12px;
}

.MoveLinkWrap>div {
  flex: 1;
}

.linkMove {
  background-color: rgb(107, 107, 107);
  padding: 12px;
  align-items: center;
  color: white;
}

.linkMove p:first-of-type {
  margin-bottom: 12px;
}

.linkMove p:last-child {
  font-size: 1.75rem;
  font-weight: 500;
}

/* 모바일 css--------------------------------------- */
.m_porfileImg {
  display: flex;
  position: relative;
  width: 70%;
  margin: 12px 0 24px 0;
  justify-content: center;
  align-items: center;
}

.m_porfileImg img {
  width: 100%;
}

.m_signImg {
  position: absolute;
  width: 100px;
  background-color: #a7a7a7;
  right: 0;
  top: 0;
}

.m_txtWrap {
  align-items: center;
}

.m_txtWrap .nameWrap {
  margin-bottom: 42px;
}



.m_txtWrap .sns {
  width: 100%;
  font-size: 0.875rem;
}

.m_txtWrap .sns div:first-child {
  margin-bottom: 24px;
}

.m_txtWrap .sns div>span:first-child {
  flex: 1;
}

.m_txtWrap .sns div span:last-child,
.m_txtWrap .sns div a {
  flex: 2;
}
.m_name>div {
  align-items: flex-end;
  gap: 12px;
  margin-top: 8px;
}

.m_name>div span:first-child {
  font-size: 1.75rem;
  font-weight: 500;
}

.m_name>div span:nth-child(2) {
  font-size: 1.125rem;
  font-weight: 300;
  color: #a7a7a7;

}

.m_moveLink .linkMove p:nth-child(2) {
  font-size: 0.875rem;
  margin-bottom: 8px;
}

.m_moveLink .linkMove p:last-child {
  font-size: 1.25rem;
}