.profile {
  margin: 64px 0 92px;
  gap: 32px;
  align-items: stretch;
}

.profile>div:first-child {
  flex: 1;
}

.profile>div:last-child {
  flex: 2;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left>div {
  position: relative;
}

.left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.left .imgSign {
  position: absolute;
  width: 100px;
  background-color: #a7a7a7;
  right: 0;
  top: 0;
}

.right {
  justify-content: space-between;
}

/* .top>div:not(:last-child) {
  border-bottom: 1px solid black;
} */
.top>div:last-child {
  border-top: 1px solid black;
}

.top .name {
  padding: 0 12px 24px 12px;
}

.top .sns {
  padding: 24px 12px;
}

.top .free {
  padding: 24px 12px;
}

.top .name>div>div {
  margin-top: 12px;
  gap: 12px;
  align-items: end;
}

.top .name a span {
  font-size: 0.875rem;
}

.top .name>div div:last-child span:first-child {
  font-size: 2rem;
  font-weight: 700;
  padding-left: 12px;
  border-left: 4px solid;
  border-image: linear-gradient(to bottom, var(--mainColor), var(--subColor)) 1;
}

.top .name>div span:nth-child(2) {
  font-size: 1.125rem;
  font-weight: 300;
  color: #a7a7a7;

}

.top .sns {
  gap: 32px;
}

.top .sns>div {
  display: flex;
  gap: 8px;

}

.top .sns div span {
  display: inline-block;
}

.top .sns>div>span:first-child {
  font-size: 0.875rem;
  color: #a7a7a7;
  font-weight: 300;
}

.top .sns div:first-child span:last-child {
  text-decoration: underline;
  text-underline-position: under;
}

.bottom {
  justify-content: space-between;
  gap: 12px;
}

.bottom>a {
  flex: 1;
  background-color: rgb(107, 107, 107);
  padding: 12px;
  align-items: center;
  color: white;
}

.bottom>a p:nth-of-type(1) {
  font-size: 0.875rem;
  font-weight: 300;
  margin-bottom: 8px;
}

.bottom>a p:nth-of-type(2) {
  font-size: 1.25rem;
}

/* 모바일 css--------------------------------------- */
.m_profile {
  margin: 32px 0 92px;
  gap: 24px;
  align-items: stretch;
}

.m_profile .left {
  display: flex;
  margin: 12px 0 24px 0;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.m_profile .left>div {
  position: relative;
  width: 70%;
}

.m_profile .left img {
  width: 100%;
}

.m_profile .right {
  gap: 32px;
}

.m_profile .right .top>div {
  padding: 16px 8px;

}

.m_profile .right .top .name div div span:first-child {
  font-size: 2rem;
  font-weight: 500;
}

.m_profile .right .top .sns {
  font-size: 0.875rem;
  gap: 12px;
}

.m_profile .right .top .sns div span:first-child {
  flex: 1;
}

.m_profile .right .top .sns div span:last-child,
.m_profile .right .top .sns div a {
  flex: 3;
}