.memberCard {
    position: relative;
    display: flex;
  
  }
  
.imgPj{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.memberInfo {
    position: absolute;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0 10%;
    color: white;
}
.memberInfo h2{
    line-height: 150%;
    margin-bottom: 12px;
}
.memberInfo p {
    font-size: 1rem;
}
.Info {
    opacity: 0;
}


.memberCard:hover .Info {
    opacity: 1;
}

.memberCard:hover .imgPj {
    filter: brightness(0.4);
}



/* 모바일 css---------------------------------------------- */

.m_card .imgPj{
    filter: brightness(0.6);

}
.m_card .Info {
    opacity: 1;
}
.m_Info p{
    font-size: 1rem;
} 