.listWrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px 12px;
}
.listMember{
  padding: 12px;
  /* background-color: #f3f3f3; */
  border:1px solid #e0e0e0;
}
/* 모바일 css------------------------------------------------------ */
.m_listWrap{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 20px;
}