/* 스크롤 스냅핑 scroll~ 이하 코드 */
/* main {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
} */

.hScreen {
  display: flex;
  position: relative;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/* 스크롤바 숨김 */
/* body::-webkit-scrollbar {
  width: 0;
  height: 0;
} */

.subTitle {
  position: absolute;
  left: 24px;
  top: 64px;
  color: #a7a7a7;
  font-size: 0.75rem;
  white-space: nowrap;
}
.imgPoster,
.imgMap,
.imgMember,
.imgDT {
  background-color: #a7a7a7;
}

.title {
  margin-bottom: 32px;
}
.captionContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

/* ---------------------------------------------------------------------- */
.nav{
  position: absolute;
  top: 0;
  width: 100%;
}
.mainTitle
 {
  font-size: 4rem;
  font-family: "sandoll-jebi2", sans-serif;
  font-weight: 700;
}
.outline div {
  margin-bottom: 48px;
}
.outline > p {
  color: #a7a7a7;
}
.imgPoster {
  margin-right: 64px;
}
.txtContainer p {
  margin-bottom: 12px;
}

.video {
  background-color: antiquewhite;
}
.imgMember {
  margin-bottom: 32px;
}
.memberTxt {
  text-align: center;
}


.imgDT {
  margin-left: 64px;
}

.imgMap {
  margin-right: 64px;
}

.locInfo {
  /* display: block; */
  white-space: nowrap;
}

.locInfo p {
  margin-bottom: 0;
}

.locInfo > p {
  font-size: 1.5rem;
  margin-bottom: 24px;
}
