.hScreen {
  display: flex;
  position: relative;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.subTitle {
  position: absolute;
  left: 24px;
  top: 15%;
  color: #a7a7a7;
  font-size: 0.75rem;
  white-space: nowrap;
}

.imgMainPoster,
.imgMap,
.imgMember,
.imgDT {
  /* background-color: #a7a7a7; */
}

.title {
  margin-bottom: 32px;
}

.title:first-child {
  /* font-size: 4rem; */
}

.contentWrap {
  justify-content: center;
  text-align: left;
  margin-top: 64px;
}

.contentWrap:first-child>p {
  margin-top: 48px;
  color: #a7a7a7;
}

/* ---------------------------------------------------------------------- */
.nav {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}

.imgMainPoster {
  display: flex;
  margin-top: 64px;
  align-items: center;
}

.imgMainPoster img {
  max-height: calc(100vh - 100px);
  max-width: calc(100vw - 100px);
}

.imgMember {
  flex-shrink: 0;
  width: 30%;
}

.imgMember img {
  width: 100%;
}

.textBox p:not(:last-child) {
  margin-bottom: 12px;
}


.opening {
  width: calc(100vw - 100px);
  max-height: calc(100vh - 150px);
  /* background-color: antiquewhite; */
  margin-top: 64px;
}

.memberDT,
.m_memberContainer {
  align-items: center;
}

/* .memberDT .imgMember {
  width: 50%;
  margin-right: 64px;
} */
.memberDT {
  gap: 64px;
}

.memberDT>div {
  flex: 1;
  gap: 64px;
}

.imgMember img {
  width: 100%;
  height: 100%;
}

.memberTxt {
  text-align: center;
  word-break: keep-all;
}



.imgMap {
  margin-right: 64px;
}

.loc {
  justify-content: center;
}

.locInfo {
  /* display: block; */
  white-space: nowrap;
}

.locInfo p {
  margin-bottom: 0;
}

.locInfo>p {
  font-size: 1.5rem;
  margin-bottom: 24px;
}

/* 모바일css------------------------------------------------------ */
.m_imgPoster {
  flex-shrink: 0;
  height: 50vw;
  margin-bottom: 32px;
}

.m_imgPoster img {
  width: 100%;
  height: 100%;
}

.m_memberDT {
  align-items: center;
}

.m_memberDT .imgMember {
  width: 70%;
  margin-bottom: 24px;
}


.m_imgMap {
  margin-bottom: 32px;
}