.closeMain{
  position: relative;
}
.btnRemove{
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  border: none;
  background-color: transparent;
  cursor: default;
}
.section {
  display: flex;
  margin-bottom: 128px;
  min-height: calc(100vh - 76px);
  align-items: center;
  justify-content: center;
}

.section>div {
  width: 100%;
}

.title {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 24px 12px;
  border-bottom: 1px solid black;
  gap: 12px;
}

.title p:first-child {
  font-size: 3rem;
  font-weight: 500;
}

.title p:nth-of-type(2n) {
  color: #a7a7a7;
  font-weight: 300;
}

.content {
  display: flex;
  padding: 24px 12px;
}

.boxTxt p:not(:last-child) {
  margin-bottom: 12px;
}

.outLine {
  margin-left: auto;
  width: 50%;
}

.twoRow {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.twoRow>div {
  flex: 1;

}

.mainPoster .left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainPoster .left video {
  width: 80%;
}

.mainPoster .right {
  justify-content: space-between;
}

.mainPoster .right .boxTxt {
  margin-bottom: 48px;
}

.detail>div {
  padding: 12px 12px;
  border-top: 1px solid black;
  
}

.detail>div:first-child {
  margin-bottom: 24px;
}
.detail>div div{
  gap: 8px;
}
.detail>div div p:first-child {
  flex: 1;
}
.detail>div div p:last-child {
  flex: 2;
}

.detail>div p:first-child {
  font-size: 1.25rem;
  font-weight: 500;
}

.opening {
  justify-content: center;
}

.opening video {
  width: 100%;
}

.memberDT .left img {
  width: 100%;
}

.memberDT>div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: end;

}


.memberDT .right div {
  padding: 12px;
  border-top: 1px solid black;
  justify-content: space-between;
}

.memberDT .right div:last-child {
  border-bottom: 1px solid black;
}

.memberDT .right p:first-child {
  font-weight: 500;
}

.map .left {
  display: flex;
  justify-content: center;
}

.map .right {
  text-align: right;
}

.map .right>p {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 12px;
}

.map .right div p:not(:last-child) {
  margin-bottom: 8px;
}

/* 모바일 css------------------------------------------------- */
.m_section {
  margin-bottom: 92px;
  min-height: auto;
}

.m_twocolumn {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.m_section .title {
  flex-direction: column;
  align-items: start;
  gap: 8px;
}

.m_section .title p:first-child {
  font-size: 1.75rem;
}

.m_section .title p:nth-child(2) {
  font-size: 0.75rem;
}

.m_section .outLine {
  width: 100%;
}

.m_section .mainPoster .right .detail>div:first-child {
  margin-bottom: 12px;
}