.gnb {
    padding: 8px var(--padding);
    height: 130px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--black);
    background-color: white;
}

.gnbWrap {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;


}

.mainLink p {
    font-size: 2rem;

}

.nav {
    display: flex;
    margin-left: auto;
}

.nav>div {
    margin-left: 80px;
    color: var(--black);
    font-weight: 500;
}

.w_font {
    font-size:1rem;
}

.nav .active {
    font-weight: 700;

}

.nav p:hover {
    font-weight: 700;
    color: var(--mainColor);
}

/* 모바일 css------------------------------------------------------------ */
.stickyNav {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
    padding: 16px var(--padding);
}

.m_loc {
    color: var(--black);
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 1.75rem;
}

.m_porfileImg {
    margin: 0;
}



.icMenu {
    z-index: 5;
}

.icMenu,
.icMenu span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;

}

.icMenu {
    position: relative;
    width: 20px;
    height: 18px;
}

.icMenu span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--black);
    border-radius: 4px;
}

.icMenu span:nth-of-type(1) {
    top: 0;
}

.icMenu span:nth-of-type(2) {
    top: 8px;
}

.icMenu span:nth-of-type(3) {
    bottom: 0;
}

.icMenu.active span:nth-of-type(1) {
    -webkit-transform: translateY (8px) rotate (-45deg);
    transform: translateY(8px) rotate(-45deg);
}

.icMenu.active span:nth-of-type(2) {
    opacity: 0;
}

.icMenu.active span:nth-of-type(3) {
    -webkit-transform: translateY(-8px) rotate(45deg);
    transform: translateY(-8px) rotate(45deg);
}