.pjContainer .box:not(:first-child, :last-child) {
    margin: 128px 0;
}

.profileImg img,
.imgInter img,
.imgStep img {
    width: 100%;
}



.profileImg,
.motionPoster,
.imgInter,
.imgStep {
    background-color: #f8f8f8;
    /* height: 500px; */
}

.mainConcept {
    display: flex;
    position: relative;
    background-color: var(--black);
    color: white;
    min-height: calc(100vh - 150px);
    justify-content: center;
}

.mainConcept>div {
    padding: 64px 0;
}

.concept {
    align-items: center;
}

.concept h1 {
    margin-right: 128px;
}

.concept span {
    padding-left: 32px;
    border-left: 1px solid white;
}


.concept+.author {
    position: absolute;
    right: var(--padding);
    bottom: 64px;
}

.author {
    padding-right: 24px;
    text-align: right;
    border-right: 1px solid white;
    justify-content: flex-end;
}

.author p,
.author span {
    color: white;
}

.author p:first-child {
    margin-bottom: 12px;
}

.author span:not(:last-child) {
    margin-right: 8px;
}


.motionPoster {
    display: flex;
    height: calc(100vh - 50px);
    width: 100%;
    justify-content: center;
    align-items: center;
}

.motionPoster video,
.motionPoster img {
    height: calc(100% - 50px);
}


.subject {
    align-items: center;
    margin-bottom: 48px;
}

.subject>h2,
.m_subject>h2 {
    font-size: 3rem;
    word-break: keep-all;
    font-weight: 700;
    line-height: 130%;

}

.subject h2 {
    margin-right: 48px;
}


.subject>div {
    padding-left: 32px;
    border-left: 8px solid;
    border-image: linear-gradient(to bottom, var(--mainColor), var(--subColor)) 1;
}

.titlePJ {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 12px;
}

.btnPoster {
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    margin-top: 24px;

}

.btnPoster p {
    display: none;
    background-color: var(--black);
    color: white;
    padding: 12px;
    margin-right: 24px;
}

.btnPoster button {
    background-color: var(--black);
    color: white;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: none;
}

.btnPoster:hover p {
    display: block;
}


.btnPoster button:hover~p {
    display: block;
}


.inter {
    margin-bottom: 32px;
}

.inter .format {
    color: #a7a7a7;
    margin-top: 12px;
}

.inter .imgInter {
    margin-left: 72px;
    flex: 2;
}

.interStep,
.m_interStep {
    gap: 12px;
    margin-bottom: 64px;
}


.step {
    gap: 12px;
    margin-top: auto;

    /* margin-top: 12px; */
}

.step p {
    line-height: 150%;
    margin-top: 12px;
}

.stepNum {
    font-size: 0.875rem;
}

.interVideo {
    width: 100%;
    height: 512px;
    background-color: aqua;

}



/* 모바일 css------------------------------------------------- */
.m_pjContainer .box:not(:first-child, :last-child) {
    margin-top: 72px;
}
.m_pjContainer .box:last-child {
    margin-top: 84px;
}
.m_concept {
    border-left: 1px solid white;
    padding: 0 24px;
}

.m_concept h1 {
    font-size: 2rem;
    margin-bottom: 24px;
}

.m_concept+.author {
    font-size: 0.75rem;
    margin-top: 64px;
    word-break: break-all;
}



.m_subject {
    margin-bottom: 32px;
    padding-left: 24px;
    border-left: 4px solid;
    border-image: linear-gradient(to bottom, var(--mainColor), var(--subColor)) 1;
}

.m_subject>h2 {
    font-size: 2rem;
    margin-bottom: 24px;
}

.m_subject .titlePJ {
    font-size: 1.5rem;
}

.m_subject .format {
    font-size: 0.75rem;
    margin-top: 8px;
    color: #a7a7a7;
}

.m_motionPoster {
    flex-shrink: 0;
    width: 100%;
    margin-bottom: 32px;

}

.m_motionPoster video {
    width: 100%;
    height: 100%;
}

.m_motionPoster img {
    width: 100%;
}

.m_step {
    gap: 12px;
}

.m_step p {
    font-size: 0.75rem;
    margin-top: 8px;
}