img{
    width: 100%;
}
.profileImg, .posterImg, .interImg {
    background-color: #a7a7a7;
}
.horizontalLine {
    height: 1px;
    border: none;
    background-color: var(--line);
}

.mainContainer {
    margin: 128px 0;
    align-items: center;
}
.mainContainer h1{
 margin-right: 64px;   
}

.itemContainer {
    margin: 128px 0;
}

.title {
    margin-bottom: 24px;
}
.posterImg{
    margin-right: 72px;
}

.videoInfoContainer {
    margin-bottom: 24px;
}

.interContainer {
    margin-bottom: 32px;
}

.interInfoContainer {
    margin-right: 32px;
    flex: 2;
}

.interInfo p:last-child {
    margin-top: 12px;
    color: #a7a7a7;
}
.interImg{
    margin-left: 72px;
}
.interStep {
    gap: 12px;
    margin-bottom: 64px;
}

.interVideo {
    width: 100%;
    height: 512px;
    background-color: aqua;

}

.authorContainer,
.authorTeamContainer {
    float: right;
    margin: 32px 0;
}
.profileImg{
    margin-left: 12px;
    width: 10vw;
}
.authorTeamContainer p {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: right;
    margin-bottom: 12px;
}

.authorTeamContainer span {
    margin-left: 12px;
}