.gnbWrap {
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    padding: 24px 20px;
    background-color: white;
    color: var(--black);
    z-index: 4;
    white-space: nowrap;
}

.slideNav {
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 32px;
}

.gnbWrap ul {
    width: 100%;
}

.gnbWrap li {
    padding: 24px 0;
}

.gnbWrap li p {
    font-size: 24px;
    color: var(--black);
    margin: 12px;
}

.delMenu {
    align-self: flex-end;
}

.btnNav:not(.m_active) p {
    color: #a7a7a7;
}

.m_active p {
    font-weight: 700;
    text-decoration: underline;
    text-underline-position: under;
}
