.teamCard {
    gap: 64px;
}

.teamTitle h1 {
    margin-bottom: 24px;
}


.teamMember>p {
    margin-bottom: 24px;
    font-size: 1.25rem;
    font-weight: 500;
}
.teamMember p:last-child, .m_teamMember p:last-child{
    text-align: right;
}
.member {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 80%;
    gap: 12px;
}

.imgMember {
    margin-bottom: 12px;
    min-height: 100px;
    overflow: hidden;
}

.imgMember img {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.btnMove {
    display: flex;
    justify-content: center;
    margin-left: auto;
    border: 2px solid var(--black);
    padding: 12px 24px;
    cursor: pointer;
    font-weight: 500;
}

.btnMove:hover {
    background: linear-gradient(0.25turn, #F9AE69, #EB5B5E);
    border: none;
}

.btnMove:hover span {
    color: white;
}

/* 모바일 css------------------------------ */
.m_teamCard {
    gap: 48px;
}
.m_teamCard .teamTitle h1{
    font-size: 2rem;
    margin-bottom: 12px;
}
.m_teamMember .imgMember{
    margin-bottom: 4px;
}
.m_teamMember p{
    font-size: 0.75rem;
}
.m_teamMember>p {
    font-size: 0.875rem;
    margin-bottom: 12px;
    font-weight: 500;
}

.m_teamMember .member {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap:12px;
}

.m_teamMember .member>a {}