.teamCardClose {
    height: 100%;
    /* background-color: aquamarine; */
    color: #a7a7a7;
    /* border: 1px solid rebeccapurple; */
    max-width: 60px;
    padding: 24px 0;
    flex: 1;
    cursor: pointer;
    /* transition: flex 2s ease-in-out; */
    /* background-color: #f3f3f3; */
}

.teamCardClose:hover {
    color: black;
    font-weight: 700;
}

.teamCardOpen,
.teamCardClose {
    min-height: 500px;
    /* border-left: 6px solid black; */
    border-right: 6px solid black;
}

.teamCardOpen:first-child,
.teamCardClose:first-child {
    border-left: 6px solid black;
}

.teamCardOpen {
    flex: 15;
    /* transition: all 2s ease-in-out; */

    padding: 24px 48px;
}

.teamCardClose>div,
.teamCardOpen>div {
    position: relative;
    height: 100%;

}

.closeTeam {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    text-align: left;
    padding: 12px;
}

.closeTeam span {
    width: 100%;
    height: 100%;
    display: inline-block;
    transform: rotate(90deg);
    transform-origin: center;
}

.teamTitle {
    margin-bottom: 48px;
}

.teamTitle h1 {
    /* color: #EB5B5E; */
    margin-bottom: 24px;
}

.teamMember {
    margin-bottom: 32px;
}

.teamMember>p {
    margin-bottom: 24px;
    font-size: 1.25rem;
    font-weight: 500;
}

.memberContainer {
    margin-bottom: 64px;
}

.memberContainer>div {
    margin-right: 24px;
}

.memberContainer>div:last-child {
    margin-bottom: 0;
}

.memberImg {
    background-color: #a7a7a7;
    width: 100px;
    height: 130px;
    margin-bottom: 12px;
}

.moveLink {
    /* background-color: #EB5B5E; */
    border: 2px solid black;
    /* background: linear-gradient(0.25turn, #F9AE69, #EB5B5E); */
    padding: 12px 24px;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
    font-weight: 500;
    /* margin-left: auto; */
}
.moveLink:hover{
    background: linear-gradient(0.25turn, #F9AE69, #EB5B5E);
    /* background-color: black; */
    border: none;
}
.moveLink:hover span{
    color: white;
}