.linkTeamPJ {
    height: 100%;
}

.teamCard {
    align-items: center;
    justify-content: center;
    padding: 24px 0;

}
.teamCard:hover .imgPj img {
    filter: brightness(0.6);
}

.teamCard:hover .imgPj div:last-child {
    visibility: visible;
}
.teamTitle{
    flex: 1;
}
.teamTitle p {
    font-size: 1.125rem;
}
.teamTitle h1{
    font-weight: 500;
}
.teamTitle p, .m_teamTitle p {
    margin-bottom: 12px;
}

.imgPj {
    display: flex;
    position: relative;
    justify-content: center;
    flex: 3;
    background-color: #f0f0f0;
    padding: 8px;

}
.imgPj div:first-child{
    /* background-color: #a7a7a7; */
    align-items: center;
    justify-content: center;
}
.imgPj img {
    width: 100%;
}

.imgPj div:last-child {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    color: white;
    font-size: 1.5rem;
    font-size: 1.25;
}
.teamCard.column{
    margin-bottom: 64px;
}
.m_card{
    align-items: flex-start;
    
}
.m_card .teamTitle{
    margin-bottom: 32px;
}
.m_card .teamTitle p{
    font-size: 1rem;
    margin-bottom: 4px;
}
.m_card .teamTitle h1{
    font-size: 2rem;
}
/* .moveLink {
    border: 2px solid var(--black);
    padding: 12px 24px;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    font-weight: 500;
}

.moveLink:hover {
    background: linear-gradient(0.25turn, #F9AE69, #EB5B5E);
    border: none;
}

.moveLink:hover span {
    color: white;
} */