.teamCard {
    height: 100%;
}

.teamTitle {
    margin-bottom: 48px;
}

.teamTitle h1 {
    margin-bottom: 24px;
}

.teamMember {
    margin-bottom: 32px;
}

.teamMember>p {
    margin-bottom: 24px;
    font-size: 1.25rem;
    font-weight: 500;
}

.member {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 80%;
    margin-bottom: 64px;
    gap: 12px;
}

.member>a {
    /* width: 19%; */
}

.memberImg {
    background-color: #a7a7a7;


    /* height: 60%; */
    margin-bottom: 12px;
    /* overflow: hidden; */
}

.memberImg img {
    width: 100%;
}

.moveLink {
    position: absolute;
    border: 2px solid var(--black);
    padding: 12px 24px;
    right: 0;
    bottom: 0;
    cursor: pointer;
    font-weight: 500;
}

.moveLink:hover {
    background: linear-gradient(0.25turn, #F9AE69, #EB5B5E);
    border: none;
}

.moveLink:hover span {
    color: white;
}

/* 모바일 css------------------------------ */
.m_member {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 64px;
    gap: 12px;
}

.m_member>a {
    /* max-width: 25%; */
}