.loc,
.m_loc {

    white-space: nowrap;
    align-items: center;
}

.loc {
    margin-bottom: 72px;
}

.m_loc {
    margin-bottom: 32px;
}

.loc h1,
.m_loc h1{
    font-family: "sandoll-jebi2", sans-serif;
    font-weight: 700;
    margin-right: 24px;
}