.container,
.m_container {

    white-space: nowrap;
    align-items: center;
}

.container {
    margin-bottom: 72px;
}

.m_container {
    margin-bottom: 32px;
}

.container h1,
.m_container h1{
    font-family: "sandoll-jebi2", sans-serif;
    font-weight: 700;
    margin-right: 24px;
}