.loc {
    position: relative;
    padding: 0 0 12px 0 ;
    white-space: nowrap;
    margin-bottom: 72px;
}

.loc p {
    display: inline-block;
    font-size: 1rem;
    padding-bottom: 4px;
    border-bottom: 2px solid black;
}