.typeWrap {
    text-transform: uppercase;
    margin-bottom: 92px;
}

.typeWrap span {
    display: inline-block;
    padding-bottom: 4px;
    margin-bottom: 12px;
    border-bottom: 2px solid black;
    /* background-color: red; */
}

.radioGruop {
    gap: 12px;
    font-size: 2rem;
    font-weight: 500;
    align-items: flex-end;
}

.radioGruop p {
    cursor: pointer;
}

.radioGruop .disable {
    font-size: 1.75rem;
    color: #a7a7a7;
}

.radioGruop p:first-child {
    /* width: 20%;
    font-size: 3rem;
    font-weight: 500; */
}

/* .radioGruop p:last-child {
    color: #a7a7a7;
} */